<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Authorization Header'ди өткөрүү
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Эгер суралып жаткан нерсе реалдуу папка же файл болсо, аны түз ач
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Калган бардык суроолорду index.php'ге багытта
    RewriteRule ^ index.php [L]
</IfModule>
